@font-face {
  font-family: corner;
  src: url(font/KGCorneroftheSky.ttf);
}
@font-face {
  font-family: action_comics_black;
  src: url(font/Action\ Comics\ Black.ttf);
}
body{
    margin: 0;
    padding: 0;
    /* background-color: #2b57bd; */
    background-image: url(img/strips.jpg);
}
header{
    background-color: #c31a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: #fff;
    font-family: corner;
    font-size: 30px;
    padding-left: 15px;
    text-transform: uppercase;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
}
.buttons{
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
}
.button a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #fff;
}
.button:hover a{
    color: #000;
    transition: 0.3s;
}
.button .connect{
    border: 0;
}
main{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #ffffff84;
}
.image{
    height: 600px;
    width: 500px;
    background-color: #c31a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 500px;
    background-color: #c31a1a;
}
.formulaire{
    background-color: #fff;
    width: 350px;
    /* height: 450px; */
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #ac1818;
}
.label{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label{
    padding-top: 10px;
    padding-bottom: 10px;
}
input[type=text]{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    border: none;
    text-indent: 15px;
}
input[type=submit]{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #fff;
    /* border: none; */
    font-size: 20px;
}
input[type=password]{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    border: none;
    text-indent: 15px;
}
.valider{
    padding-bottom: 10px;
}
.deja{
    display: flex;
}
.deja div{
    padding-left: 5px;
}
.deja a{
    /* text-decoration: none; */
    color: #fff;
}