@font-face {
  font-family: corner;
  src: url(font/KGCorneroftheSky.ttf);
}
@font-face {
  font-family: action_comics_black;
  src: url(font/Action\ Comics\ Black.ttf);
}
body{
    margin: 0;
    padding: 0;
    /* background-color: #2b57bd; */
    background-image: url(img/strips.jpg);
}
header{
    background-color: #c31a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    /* width: 100vw; */
}
h1{
    color: #fff;
    font-family: corner;
    font-size: 30px;
    padding-left: 15px;
    text-transform: uppercase;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
}
.buttons{
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
}
.button a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #fff;
}
.button:hover a{
    color: #000;
    /* background-color: #fff;
    border-radius: 15px; */
    transition: 0.3s;
}
.button .deco{
    border: 0;
}
main{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #ffffff84;
    /* height: 80vh; */
}

.livre_or{
    width: 50vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c31a1a;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.date{
    padding-left: 3px;
}
.bloc_login{
    display: flex;
    /* background-color: yellow; */
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff;
}
.tableau h1{
    text-align: center;
    font-family: corner;
    color: #fff;
    text-transform: uppercase;
}
.comment{
    height: 100%;
    width: 40vw;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}